.skillsMain {
  min-height: 110vh;
  width: 55%;
  z-index: 10;
}

.skillsMT {
  position: absolute;
  padding: 1rem;
}

.skillAllCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 3rem;
}

.skillBtnCont {
  display: flex;
  padding: 0.5rem;
  display: flex;
  gap: 0.3rem;
}

.skillBtn {
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: #ff3d3d;
  color: white;
  padding: 0.5rem;
  font-size: 1.2rem;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s, scale 0.3s;
}

.skillBtn:hover {
  color: #005461;
  background-color: #ff3d3d;
  box-shadow: 0.5rem 0.5rem 0.9rem rgba(44, 43, 43, 0.5);
}

.underline {
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: #005461;
}

.Front-End {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.Backend {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.skillTecno {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  padding: 3rem;
}

.skillTecno > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem;
  width: 70%;
  list-style: none;
}

.skillDes {
  font-size: 1.5rem;
}

.skillTecno > ul > li {
  font-size: 1.3rem;
  background-color: #005461;
  color: #e0e0e0;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

@media (max-width: 768px){
  .skillsMain{
    width: 100%;
  }


  .skillTecno{
    gap: 1.3rem;
  }

  .skillDes{
    font-size: 1rem;
  }

  .skillTecno > ul > li{
    font-size: 1rem;
  }
}