.homeMain {
  min-height: 100vh;
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.5rem;
  gap: 5rem;
  z-index: 5;
}

.homeDes{
  font-size: 1.4rem;
}

.homeSubDes{
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
}

.hoursHome{
  background-color: #005461;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  height: 8.5rem;
}

.homeCertificates{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
  padding: 1rem;
}

.titleCertificate{
  border-bottom: 3px solid #005461;
  font-size: 1.5rem;
}

.certificates{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.aCertificate{
  text-decoration: none;
  text-align: center;
  background-color: #005461;
  border-radius: 0.5rem;
  color: whitesmoke;
  padding: 0.4rem;
  transition: scale 0.3s, color 0.3s;
}

.aCertificate:hover{
  color: #ff3d3d;
  scale: 1.1;
}

.navPresentQuery{
  display: none;
}

@media(max-width: 768px){
  .homeMain{
    width: 100%;
    gap: 1rem;
  }
  .homeDes{
    font-size: 1.1rem;
  }
  .navPresentQuery{
    display: block;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
  }
}